<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Niczux - Arquitectura de Máquinas</title>
  <link rel="stylesheet" href="inicio.css" />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@500;700&display=swap" rel="stylesheet">

</head>
<body>
  <!-- NAVBAR -->
  <nav class="navbar">
    <h1 class="header-title">ARQUITECTURA DE MAQUINAS COMPUTADORAS I</h1>
    <span class="leaf">🍃</span>
    <span class="leaf">🍃</span>
    <span class="leaf">🍃</span>
    <span class="leaf">🍃</span>
    <span class="leaf">🍃</span>
    <div class="dropdown">
      <button class="dropbtn">Temas &#x25BC;</button>
      <div class="dropdown-content">
        <a href="../templates/index.html">Microprocesadores</a>
        <a href="familia86.html">Familiax86</a>
        <a href="ensamblador.html">Ensamblador</a>
        <a href="procesador.html">Procesadores</a>
        <a href="microcontroladores.html">Microcontroladores</a>
        <a href="pic.html">PIC</a>
        <a href="fundamentos_ensamblador.html">Fundamentos Ensamblador</a>
        <a href="puerto_ES.html">Puertos de Entrada/Salida Paralela</a>
        <a href="modulos_cyc.html">Modulos Comparacion y Captura</a>
        <a href="puerto_ES_serie.html">Puertos de Entrada/Salida Serie</a>
                <a href="thinkercad.html">Ejercicios en ThinkerCad</a>



      </div>
    </div>
  </nav>

  <main class="main-layout">
    <section class="content-box">
        <h2>PAGINA WEB INFORMATIVA</h2>
        <p><strong>Grupo:</strong> 4T1-COM-S</p>
        <p><strong>Autores:</strong></p>
        <ul>
          <li>Engel Jasmir Barahona</li>
          <li>Sleyter Antonio Conde Vasconcelos</li>
          <li>Leonardo Rosalio Díaz Hernández</li>
        </ul>
      </section>

    <aside class="sidebar">
      <p class="medioambiente-text">🌎 Cuida el medio ambiente</p>
      <div class="card">
        <img src="../images/dia-medio-ambiente-01.jpg" alt="Árbol representando el medio ambiente" />
      </div>
    </aside>
  </main>

  <footer>
    <div class="footer-content">
      <img src="../images/arbol.png" alt="Ícono de árbol" />

      <p class="animated-text">💧 No desperdicies el agua. El agua es vida. 🌱</p>
    </div>
  </footer>
</body>
</html>
